.response-viewer-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}
/* .response-viewer {
    height: 100%;
    width: fit-content;
} */
.response-viewer-rater-score-panel {
    /* height: fit-content;
    width: fit-content; */
    padding-left: 25px;
}