<mat-drawer mode="side" opened class="sidebar">
  <div class="logo">
    <span class="logo-text">Angular Demo</span>
  </div>
  <nav class="menu">

    <div class="menu-item">
      <a mat-button routerLink="" >
        <mat-icon>home</mat-icon>
        <p class="sidebar-title">Home</p>
      </a>
    </div>

    <div class="menu-item">
      <a mat-button routerLink="feedback">
        <mat-icon>feedback</mat-icon>
        <p class="sidebar-title">Feedback</p>
      </a>
    </div>

    <div class="menu-item">
      <a mat-button routerLink="admin">
        <mat-icon>admin_panel_settings</mat-icon>
        <p class="sidebar-title">Admin</p>
      </a>
    </div>

    <div class="menu-item">
      <a mat-button routerLink="search">
        <mat-icon>search</mat-icon>
        <p class="sidebar-title">Search</p>
      </a>
    </div>


  </nav>
</mat-drawer>