.sidebar {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 240px;
    height: calc(100vh - 80px);
    padding: 15px;
    border-radius: 15px;
    background-color: #00385b;
    color: white;
}

.logo {
    height: 60px;
    margin: 10px;
    align-content: center;
}

.logo-text {
    font-size: 1.5rem;
}

.menu-item {
    display: flex;
    margin: 20px;
    padding: 5px 0px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
}
.sidebar-title{
    margin: 0px 10px;
}

.monitoring-drawer {
    width: 250px;
    height: fit-content;
    position: absolute;
    left: 253px;
    top: 290px;
    background-color: #023b5e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.monitoring-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}