
.sidebar{
    width: 250px;
    height: 100vh;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(32, 32, 97);
    color: white;
}
.logo{
    height: 60px;
    margin: 10px;
    align-content: center;
}
.logo-text{
    font-size: 1.5rem;
}
.menu-item{
    display: block;
    margin: 20px;
    cursor: pointer;
}
a{
    color: white;
    text-decoration: none;
}
span{
    margin-left: 10px;
    margin-bottom: 10px;
}
