.notification-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: black;
}
.notification-item:hover {
  background: #f5f5f5;
}
.notification-text {
  font-size: 16px;
}
.notification-date {
  font-size: 12px;
  color: #7a7979;
}