@for (notification of notifications; track $index) {
  @if (viewType === 'broadcast') {
    <div class="notification-item {{notification.read ? 'read' : 'unread'}}">
      <div class="notification-text">
        {{notification.text}}
      </div>
      <div class="notification-date">
        <small>{{notification.date | customDate}}</small>
      </div>
    </div>
  }
  @if (viewType === 'navbar' && (!notification.read)) {
    <div class="notification-item unread">
      <div class="notification-text">
        {{notification.text}}
      </div>
      <div class="notification-date">
        <small>{{notification.date | customDate}}</small>
      </div>
    </div>
  }
}