
    <div class="program-row">
        <div><strong>Activity:</strong></div>
        <div>{{ programDetails?.activity }}</div>
    </div>
    <div class="program-row">
        <div><strong>Role:</strong></div>
        <div>{{ programDetails?.role }}</div>
    </div>

    <div class="program-row">
        <div><strong>Program:</strong></div>
        <div>{{ programDetails?.program }}</div>
    </div>
    <div class="program-row">
        <div><strong>Test:</strong></div>
        <div>{{ programDetails?.test }}</div>
    </div>
    <div class="program-row">
        <div><strong>Level:</strong></div>
        <div>{{ programDetails?.level }}</div>
    </div>
    <div class="program-row">
        <div><strong>Mentor:</strong></div>
        <div>{{ programDetails?.mentor }}</div>
    </div>
    <div class="program-row">
        <div><strong>Date of Joining:</strong></div>
        <div>{{ programDetails?.date_of_joining | customDate }}</div>
    </div>
