.search-form {
    display: flex;
    width: 100%;
    gap: 15px;
}
.search-input {
    flex: 1;
    display: block;
}

button:hover {
    cursor: pointer;
}

.search-button {
    height: 30px;
    width: 50%;
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    border: 1px solid #1a73e8;
}

.reset-button {
    height: 30px;
    width: 50%;
    background-color: white;
    color: #1a73e8;
    border-radius: 4px;
    border: 1px solid #1a73e8;
}

.buttons {
    display: flex;
    gap: 10px;
    
    align-items: center;
}
