<div class="top-filters-form">
    <form 
        [formGroup]="topFilterForm" 
        (ngSubmit)="onSubmit()" 
        class="top-filter-form"
    >

        <app-select
            [formControlconfig]="topFilters.searchType"
            formControlName="searchType"
            class="search-filed">
        </app-select>

        <app-input
            [formControlconfig]="topFilters.nameId"
            formControlName="nameId"
            class="search-filed">
        </app-input>
        
        <app-select
            [formControlconfig]="topFilters.status"
            formControlName="status"
            class="search-filed">
        </app-select>
        
        <app-select
            [formControlconfig]="topFilters.searchResult"
            formControlName="searchResult"
            class="search-filed">
        </app-select>

        <app-input
            [formControlconfig]="topFilters.responseId"
            formControlName="responseId"
            class="search-filed">
        </app-input>
        
        <div class="buttons">
            <button type="submit" class="search-button">Search</button>
            <button type="button" class="reset-button" (click)="reset.emit()">Reset</button>
        </div>
    </form>
</div>