<section class="home-section">
  <div class="home-header">
    <div class="title">Header</div>
    <div class="spacer">

      <!-- Notifications Button -->
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="menu-item">

          <mat-icon matBadge="{{ unreadCount }}" matBadgeColor="warn">
            notifications
          </mat-icon>

        </button>


      <!-- Notification Panel -->
      <mat-menu #notificationMenu="matMenu" class="notification-menu">

        <div class="notification-panel">

          <h3>Notifications</h3>

          <mat-divider></mat-divider>

          <app-notifications [viewType]="'navbar'" (UnreadCount)="receiveUnreadCount($event)"></app-notifications>

        </div>

      </mat-menu>
    </div>
  </div>
</section>