.input {
    height: 25px;
    width: 200px;
    display: flex;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

label {
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0 3px;
    color: #838383;
}