.response-viewer-container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #b2ddec;
    border-radius: 8px;
}