.example-container {
  width: auto;
  height: 100vh;
  background: #eee;
  overflow: hidden;
}

.example-content {
  height: 100%;
  overflow: hidden;
  background-color: #edf6ff;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}